.git
.github
node_modules
vendor
.env
gha-creds-*.json
database/*.sqlite
storage/app/private/*
storage/logs/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
tests
Dockerfile
.dockerignore
npm-debug.log
yarn-error.log
.phpunit.result.cache
phpstan.neon
phpunit.xml
eslint.config.js
vitest.config.ts
deploy-to-gcp.sh
deploy-staging-to-gcp.sh
configure-github-security-oidc.sh
docs
security
